[Unit]
Description=Vault Service
After=etc-environment.service
Requires=cloud-config.target

[Service]
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=30s
User=vault

ExecStartPre=/bin/bash -c "echo VAULT_CLUSTER_ADDR=https://$(curl -s http://169.254.169.254/latest/meta-data/local-ipv4):8201  > /etc/vault/vault_address"
ExecStartPre=/usr/local/bin/certbot.sh
ExecStartPre=/bin/bash -c "if [ ! -L /etc/vault/tls ]; then ln -s /etc/vault/letsencrypt/config/live/${VAULT_FQDN}/ /etc/vault/tls; fi"
ExecStartPre=/usr/local/bin/seal.hcl.sh /etc/vault/conf.d/40-seal.hcl

EnvironmentFile=/etc/environment
EnvironmentFile=-/etc/vault/vault_address
ExecStart=/usr/local/bin/vault server -config=/etc/vault/conf.d
#ExecStartPost=/usr/local/bin/vault operator init -recovery-shares=1 -recovery-threshold=1

[Install]
WantedBy=multi-user.target
